{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>

    {% for category, classification in classification_result.items() %}
        {% if classification == 1 %}


            <ul class="list-group">
            
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>

                    <!-- commenting other categories inorder to display only top predicted classes -->
       
                    <!-- <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li> -->

        {% endif %}
    {% endfor %}

        </div>
    </div>

{% endblock %}
